.sub-menu {
  padding: 40px 0px 40px 35px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.123);
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.123);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.123);
  width: 250px;
  position: absolute;
  top: -20px;
  right: -225px;
  transition: visibility 0.3s ease;
  visibility: hidden;
  color: black;
}

.simchas-drop-down:hover .sub-menu {
  visibility: visible;
}

.sub-menu .sub-menu-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.sub-menu .sub-menu-link:hover {
  color: rgba(128, 128, 128, 0.521);
  transition: 0.5s;
  font-weight: 700;
}

.sub-menu .sub-menu-icon {
  font-size: 20px;
}

.sub-menu .icon-true .sub-menu-icon {
  color: #009eff;
  font-size: 30px;
}

.sub-menu .text-icon-true {
  color: #009eff;
  font-size: 20px;
  font-weight: 400;
}
